<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.org.dao.UserLoginDao">

	<resultMap type="UserPO" id="userPO">
	  <id column="username" property="username" jdbcType="VARCHAR" />
	  <id column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>

    <select id="login" resultMap="userPO" parameterType="java.util.Map">
        select * from user where username=#{username} and password=#{password}
    </select>
    <insert id="saveUser"  parameterType="java.util.Map">
        insert into user (username,password) values(#{username},#{password})
    </insert>
    
</mapper>